<ion-header>
  <ion-toolbar>
    <ion-title>{{listing.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="category-block">
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>{{listing.id}}</ion-card-subtitle>
          <ion-card-title>
            {{listing.name}} - S${{listing.price}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Keep close to Nature's heart...
        </ion-card-content>
      </ion-card>
</ion-content>
