<ion-header>
  <ion-toolbar>
    <ion-title>Indusell</ion-title>
      <ion-icon name="search" slot="end" routerLink="/search" routerDirection="forward"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>

    <!-- floating button at the top for Add Listing -->
   <!-- fab placed to the top start -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button expand="block" routerLink="/addlisting" routerDirection="forward">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button expand="block" routerLink="/login" routerDirection="forward">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    <!-- auto rotating slider at the top -->
    <ion-slides autoplay= "2000" pager="true" [options]="slideOpts">
        <ion-slide>
          <h1>Slide 1</h1>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-slide>
        <ion-slide>
          <h1>Slide 2</h1>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-slide>
        <ion-slide>
          <h1>Slide 3</h1>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-slide>
      </ion-slides>
  <!-- Categories slide -->
<ion-toolbar>
<ion-title>
  Categories
</ion-title>
</ion-toolbar>
<ion-slides [options]="sliderConfig">
  <ion-slide *ngFor= "let cat of listings?.category" (click)="onGoToCategoryPage(cat.name)">
    <ion-card class="ion-text-nowrap" >
      <ion-img cache ="true" src= "https://indusell.com/storage/{{cat.picture}}">
        </ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{cat.name}}</ion-card-subtitle>
        <ion-card-title>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-slide>
</ion-slides>
<ion-toolbar>
  <ion-title>
    Brands
  </ion-title>
  </ion-toolbar>
  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor= "let brand of listings?.brands" (click)="onGoToBrandPage(brand.brand_id)">
      <ion-card class="category-block" style="width: 80px; height: 80px;">
        <ion-img style="width: 80px; height: 80px;" src = "https://indusell.com/storage/app/default/brands/{{brand.brand_logo}}"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>{{brand.name}}</ion-card-subtitle>
          <ion-card-title>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
<!-- <div class="container" >
        <div class="scroll" scrollX="true">
            <span>item1</span>
            <span>item2</span>
            <span>item3</span>
            <span>item4</span>
            <span>item5</span>
            <span>item6</span>
            <span>item7</span>
            <span>item8</span>
            <span>item9</span>
            <span>item10</span>
            <span>item11</span>
            <span>item12</span>
            <span>item13</span>
            <span>item14</span>
        </div>
    </div>
    <div class="container">
        <div class="scroll" scrollX="true">
         <span *ngFor="let item of items | async">{{item.ProjectEvent}}</span>
        </div>
    </div> -->
      <!-- Listings display in grid -->
     
        <!-- <ion-row no-padding class="category-banner">
          <ion-col text-center>
            {{cat.category}}
          </ion-col>
        </ion-row>-->
        <ion-toolbar>
          <ion-title>
            Latest Listings
          </ion-title>
        </ion-toolbar>
          <ion-grid>
          <ion-row>
          <ion-col size="6" no-padding *ngFor = "let listing of listings?.letest_ads">
          <ion-card-content no-padding class="card-background-page ion-text-nowrap">
           <ion-card padding (click)="onGoToListingDetail(listing.id)" >
             <div *ngFor = "let img of displayobjarr">
               <div *ngIf = "img.id === listing.id">
            <img src= "https://indusell.com/storage/{{img.displaypic}}"/>
          </div>
        </div>
            <ion-card-title class="card-title">
                {{listing.title}}
            </ion-card-title>
            <ion-card-subtitle class="card-subtitle">S${{listing.price}}</ion-card-subtitle>
            <ion-badge color="light">{{listing.visits}}</ion-badge>
            <ion-badge color="light">{{listing.post_type_id}}</ion-badge>
          </ion-card>
        </ion-card-content>
          </ion-col>
          </ion-row>
          </ion-grid>
      <!-- <ion-grid>
     <ion-row>
       <ion-col size= "4">
         <ion-card class="category-block">
           <ion-img src="/assets/shapes.svg"></ion-img>
           <ion-card-header>
             <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
             <ion-card-title>Card Title</ion-card-title>
           </ion-card-header>
           <ion-card-content>
             Keep close to Nature's heart
           </ion-card-content>
         </ion-card>
       </ion-col>
       <ion-col size= "4">
           <ion-card>
           <ion-img src="/assets/shapes.svg"></ion-img>
           <ion-card-header>
             <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
             <ion-card-title>Card Title</ion-card-title>
           </ion-card-header>
           <ion-card-content>
             Keep close to Nature's heart...
           </ion-card-content>
             </ion-card>
       </ion-col>
         <ion-col size= "4">
         <ion-card>
         <ion-img src="/assets/shapes.svg"></ion-img>
         <ion-card-header>
           <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
           <ion-card-title>Card Title</ion-card-title>
         </ion-card-header>
         <ion-card-content>
           Keep close to Nature's heart...
         </ion-card-content>
       </ion-card>
       </ion-col>
     </ion-row>
    </ion-grid> -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
