// .welcome-card ion-img {
//   max-height: 10vh;
//   overflow: hidden;
// }
// .container {
//   width: 300px;
//   background-color: green;
//   overflow: hidden;
//   white-space: nowrap;
//   ::-webkit-scrollbar {
//     display: none;
//   }
//   .scroll {
//     overflow: auto;
//   }
// }
// .ion-card {
//   flex-basis: 100%;
// }
.card-background-page {

  ion-card {
    img {
      height: 25vh !important;
      width: 100% !important;
      align-items: center;
  }
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
}
  .category-slider {
    ion-card {
      img {
        height: 25vh !important;
        width: 100% !important;
        align-items: center;
    }
      position: relative;
      text-align: bottom;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 1.0em;
      width: 100%;
      font-weight: bold;
      color: #000;
    }
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #000;
    }
  }
