<ion-header>
  <ion-toolbar>
    <ion-title>Indusell</ion-title>
      <ion-icon name="search" slot="end" routerLink="/search" routerDirection="forward"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>

    <!-- floating button at the top for Add Listing -->
   <!-- fab placed to the top start -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button expand="block" routerLink="/addlisting" routerDirection="forward">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button expand="block" routerLink="/login" routerDirection="forward">
          <ion-icon name="next"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    <!-- auto rotating slider at the top -->
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <h1>Slide 1</h1>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-slide>
        <ion-slide>
          <h1>Slide 2</h1>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-slide>
        <ion-slide>
          <h1>Slide 3</h1>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-slide>
      </ion-slides>

<div>
<ion-toolbar>
<ion-title>
  Industries
</ion-title>
</ion-toolbar>
<ion-slides [options]="sliderConfig">
  <ion-slide *ngFor= "let cat of listings">
    <ion-card class="category-block">
      <ion-img src="/assets/shapes.svg">
      </ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>
         {{cat.category}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-slide>
</ion-slides>
</div>
<ion-button expand="block" routerLink="/categories/3" routerDirection="forward">
  Details
</ion-button>

</ion-content>
