<ion-header>
  <ion-toolbar>
    <ion-title>
  Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
<ion-searchbar placeholder="What"></ion-searchbar>
<ion-searchbar placeholder="Where"></ion-searchbar>
  </ion-card>
<div>
<ion-toolbar>
<ion-title>
  Industries
</ion-title>
</ion-toolbar>
<ion-slides [options]="sliderConfig">
  <ion-slide *ngFor= "let cat of listings">
    <ion-card class="category-block">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>
         {{cat.category}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-slide>
</ion-slides>
</div>
</ion-content>
