<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-content class="login-content" padding>
        <ion-row class="top-row">
          <ion-col class="login-button">
            <ion-button block color="danger"  (click)="doGoogleLogin()">Google</ion-button>
            <ion-button block color="primary" (click)="doFacebookLogin()">Facebook</ion-button>
          </ion-col>
        </ion-row>
    <ion-content padding class="form-content">
        <form class="form" [formGroup]="loginform" (ngSubmit)="onSubmit(loginform.value)">
          <ion-item>
            <ion-label floating color="primary">Email</ion-label>
            <ion-input class= "form-control" type="text" formControlName="email"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message" *ngIf="loginform.get('email').hasError(validation.type) && (loginform.get('email').dirty || loginform.get('email').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div> 
          <ion-item>
              <ion-label floating color="primary">Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message" *ngIf="loginform.get('password').hasError(validation.type) && (loginform.get('password').dirty || loginform.get('password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div> 
            <br>  
          
          <!-- These validations are for the form group -->

          <ion-button expand= "full" type="submit" [disabled]="!loginform.valid">Login</ion-button>
        </form>
</ion-content>