<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>
    <ion-title>Chat:{{buddy_id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class = "chatwindow">
        <ion-list lines = "none" >
          <ion-item *ngFor="let item of allmessages; let i = index" text-wrap>
            <div class="bubble me" *ngIf="item.username === user_id">
            <h3>{{item.message}}</h3>
           </div> 
           <div class="bubble you" *ngIf="item.username !== user_id">
            <h3>{{item.message}}</h3>
            </div>
          </ion-item>
        </ion-list>
      </div> 
    </ion-content>
    
    <ion-footer>
      <ion-toolbar>
        <ion-input type = "text" [(ngModel)]= "newmessage"></ion-input>
        <ion-icon name="send" slot="end" (click)="addmessage()"></ion-icon>
    
      </ion-toolbar>
    </ion-footer>